@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);

html, body {
  height: 100%;
  font-family: 'Roboto', 'Consolas', sans-serif, "微軟正黑體"!important;
}

#draw-lottery {
  height: 60%;
}

@keyframes rotate720 {
  to {
    transform: rotate(720deg);
  }
}

@keyframes rotate360 {
  to {
    transform: rotate(360deg);
  }
}

.end-transition {
  transition: all 2s;
}

body {
  overflow: hidden;
}

.rotate-animation {
  animation: 1.5s rotate720 infinite cubic-bezier(0, 1, 1, 0);
}

#zone-one {
  height: 15%;
  text-align: center;
  transition: all 1s;
}

#zone-two {
  height: 15%;
  text-align: center;
}

.number {
  position: absolute;
  top: calc(35% - 100px);
  left: calc(50% - 55px);
  font-size: 100px;
  line-height: 300px;
  color: white;
  text-align: center;
}

#lotto-ball-background-compass {
  background-image: url("../assets/compass.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(30% - 100px);
  width: 50px;
  height: 50px;
  z-index: 0;
}

#lotto-ball-background-circle {
  background-color: black;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 150px);
  top: calc(30% - 150px);
  width: 300px;
  height: 300px;
  z-index: -1;
  transition: all 0.25s;
}

#lotto-ball {
  position: absolute;
  top: calc(30% - 175px);
  left: calc(50% - 175px);
  width: 350px;
  height: 350px;
}

.selected-ball {
  height: 40px;
  width: 40px;
  border: 3px solid black;
  border-radius: 50%;
  font-size: 30px;
  line-height: 40px;
}

.zone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zone div {
  margin-left: 25px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

.background-video {
  position: fixed;
  width: 100vw;
  height: auto;
  z-index: -99;
  opacity: 0.5;
}