html, body {
  height: 100%;
  font-family: "微軟正黑體"!important;
}

#draw-lottery {
  height: 60%;
}

.animation {
  -webkit-transition: all 5s ease-in;
  -moz-transition: all 5s ease-in;
  -ms-transition: all 5s ease-in;
  -o-transition: all 5s ease-in;
  transition: all 5s ease-in;
}

.zoom-in {
  z-index: 2!important;
  opacity: 0;
}

#zone-one {
  height: 15%;
  text-align: center;
}

#zone-two {
  height: 15%;
  text-align: center;
}

.number {
  position: absolute;
  top: calc(35% - 105px);
  left: calc(50% - 57px);
  font-size: 100px;
  line-height: 300px;
  color: white;
  text-align: center;
}

#start-button {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50vw - 30px);
  width: 60px;
  height: 20px;
  border-radius: 5px;
  border: 0px;
}

#lotto-ball {
  background-color: black;
  position: absolute;
  top: calc(30% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.selected-ball {
  height: 40px;
  width: 40px;
  border: 3px solid black;
  border-radius: 50%;
  font-size: 30px;
  line-height: 40px;
}

.zone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zone div {
  margin: 0 15px;
}

h1 {
  font-size: 30px;
}